@charset "UTF-8";

:root {
    --cor-fonte1: #bfbfbf;
    --cor-fonte2: #e1e1eb;
}

footer {
    background-color: var(--cor-footer);
    padding: 3em 1em 1em 1em;
}

#rodape-listas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.lista-rodape {
    list-style: none;
    padding-left: 8px;
}

.lista-rodape > li {
    margin: 1em 0;
}

.lista-rodape > li > a {
    text-decoration: none;
    color: var(--cor-fonte1);
    font-size: 1.2em;
}

.lista-rodape > li > a:hover {
    text-decoration: none;
    color: var(--cor-fonte2);
    font-size: 1.2em;
}

#lista-rodape-redes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rodape-copyright {
    text-align: center;
    font-size: 1em;
    color: var(--cor-fonte2);
}