@charset "UTF-8";
@import url(header.css);
@import url(footer.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,700;1,400&display=swap');

:root {
    --cor-fundo: #0a0b1a;
    --cor-footer: #14141e;
    --cor1: #323980;
    --cor2: #4B56BF;
    --cor3: #6473FF;

    --fonte-principal: 'Inter', sans-serif;
    --fonte-logo: 'PT Sans', sans-serif;
}

* {
    transition: 0.25s;
}

body {
    color: #ffffff;
    font-family: var(--fonte-principal);
    background-color: var(--cor-fundo);
    padding: 0;
    margin: 0;
}

/* ---------- Apresentação ---------- */

#fundo-inicio {
    text-align: center;
    font-size: 1.8em;
    background-image: url("../images/imagem-inicial.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 280px 25px;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    font-size: 1.4em;
}

.apresentacao-top {
    border-top: 8px solid var(--cor1);
}

.apresentacao-card {
    padding: 140px 25px;
    border-bottom: 8px solid var(--cor1);
}

.apresentacao-direita {
    text-align: right;
}

#apresentacao-um {
    background-image: url("../images/apresentacao-imagem-um.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#apresentacao-dois {
    background-image: url("../images/apresentacao-imagem-dois.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#apresentacao-tres {
    background-image: url("../images/apresentacao-imagem-tres.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* ---------- Planos ---------- */

.planos {
    display: grid;
}

.titulo-planos {
    font-size: 2em;
    padding: 20px 20px 0 20px;
}

.planos-tabela {
    text-align: center;
}

.planos-botao {
    font-size: 1.3em;
    color: var(--cor-fundo);
    background-color: var(--cor1);
    padding: 8px;
    border: 2px solid var(--cor1);
    border-radius: 10px;
    margin-top: 25px;
    margin-right: 15px;
}

#planos-botao-um {
    cursor: pointer;
}

#planos-botao-dois:hover {
    cursor: pointer;
    background-color: var(--cor2);
    border: 2px solid var(--cor2);
}

#planos-botao-tres:hover {
    cursor: pointer;
    background-color: var(--cor2);
    box-shadow: 0 0 20px var(--cor3);
    border: 2px solid var(--cor2);
}

table {
    border: 1px solid var(--cor-fundo);
    border-collapse: collapse;
    margin-bottom: 50px;
}

th, td {
    font-size: 1.4em;
    padding: 25px 10px;
}

th {
    color: var(--cor2);
    font-weight: 900;
}

td {
    border-top: 3px solid var(--cor1);
}

.planos-topico {
    color: var(--cor2);
    font-weight: 900;
}

/* ---------- Media Query ---------- */

@media screen and (max-width: 880px) {

    #fundo-inicio {
        font-size: 1.6em;
        padding: 200px 25px;
    }

    .apresentacao-card {
        font-size: 0.8em;
        padding: 100px 25px;
    }

}

@media screen and (min-width: 1200px) {

    .apresentacao-card {
        font-size: 0.8em;
        padding: 280px 25px;
    }
 
}

@media screen and (min-width: 750px) {

    #apresentacao-um, #apresentacao-dois, #apresentacao-tres {
        background-position-y: -20px;
    }

}